@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Master styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* All section styling */

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 210px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

/* Loading screen */
.loader-wrapper {
    background: #f5f0e1;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #1e3d59;
    top: 10px;
    animation: loader 2s infinite ease;
}
  
.loader-inner {
    vertical-align: top;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #1e3d59;
}
  
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: #ffc13b;
    text-transform: uppercase;

}

.right-side {
    display: flex;
}

.nav-wrapper > .right-side > div {
    margin-left: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #7a7a7a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

.brand {
    letter-spacing: 5px;
}

.brand a {
    text-decoration: none;
    color: #414141;
    font-weight: 700;
    letter-spacing: 7px;
}

/* Home section styles */

.home {
    display: flex;
    height: 100vh;
    background-color: #f5f0e1;
    color: #1e3d59;
    min-height: 500px;
    background-size:cover;
    font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
    margin-top: 8vh;
    margin-left: 100px;
}

.home .home-content .text-1{
    font-size: 40px;
    padding-bottom: 5vh;
}

.home .home-content .text-2{
    font-size: 80px;
    font-weight: 600;
    margin-left: -3.5px;
    padding-bottom: 5vh;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    padding-bottom: 30vh;
}

.home .home-content .text-3 span{
    color: #ff6e40;
    font-weight: 500;
}



button[type="home"] {
    width: 300px;
    height: 60px;
    border: 2px solid #ff6e40;
    background: #ff6e40;
    color: #f5f0e1;
    outline: none;
    font-size: 30px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="home"]:hover {
    color: #ff6e40;
    background: none;
    opacity: 0.8;
}

/* Skills */
.skills {
    background: #f5f0e1;
    height: 60vh;
    place-items: center;
    display: grid;
}
.skills-wrapper {
    margin-bottom: 18px;
    width: 600px;
    background: #ffc13b;
    border-radius: 10px;
    padding: 15px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.skills-wrapper .bar {
    margin: 20px 0;
}
.skills-wrapper .bar:first-child {
    margin-top: 0px;
}
.skills-wrapper .bar .info {
    font-size: 18px;
    font-weight: 500;
}
.skills-wrapper .bar .info span {
    margin-bottom: 5px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
    100% {
        opacity: 1;
    }
}
.skills-wrapper .bar .progress-line {
    position: relative;
    border-radius: 10px;
    height: 10px;
    width: 100%;
    background: #f5f0e1;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
                      0px 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line span {
    height: 100%;
    background: #ff6e40;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.progress-line.java span {
    width: 90%;
}
.progress-line.c span {
    width: 75%;
}
.progress-line.python span {
    width: 40%;
}
.progress-line.html span {
    width: 80%;
}
.progress-line.css span {
    width: 70%;
}
.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color:#1e3d59;
    animation: showText2 0.5s 1.5s linear forwards;
}
.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #f5f0e1;
    font-size: 12px;
    font-weight: 500;
    background: #1e3d59;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
    100% {
        opacity: 1;
    }
}
.progress-line.java span::after {
    content: "90%";
}
.progress-line.c span::after {
    content: "75%";
}
.progress-line.python span::after {
    content: "40%";
}
.progress-line.html span::after {
    content: "80%";
}
.progress-line.css span::after {
    content: "70%";
}

/* Personal preferences styles */
.personal-preferences {
    background: #f5f0e1;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130%;
    align-items: center;
    text-align: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}


.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: #ff6e40;/*#40E0D0*/
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}


/* About page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
}

.profile-image-wrapper {
    border: 0px;
}

.profile-image-wrapper img {
    width: 100%;
    display: block;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1{
    color: #1e3d59;
}

/* Contact */
.contact {
    background-color: #f5f0e1;
    padding-bottom: 15px;
}

.description-contact {
    font-size: 21px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 30px;
}

.contact input, 
.contact textarea {
    font-family: "Poppins", sans-serif;
    width: 100%;
    border-radius: 4px;
    appearance: none;
    display: block;
    outline: 0;
    padding: 0;
    font-size: 18px;
}

.form-wrapper {
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.two-fields-next-to-each,
.email-field,
.message-field {
    
    padding-bottom: 10px;
    padding-right: 150px;
    padding-left: 150px;
    margin-left: 2px;
}

.two-fields-next-to-each {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact .title {
    text-align: center;
}

textarea {
    resize: none;
}

.contact .send-message-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="email"],
textarea {
    border-radius: 4px;
    background: #f5f0e1;
    display: block;
    border: solid 2px black;
}

button[type="submit"] {
    width: 200px;
    height: 50px;
    border: 2px solid #ffc13b;
    background: #ffc13b;
    color: #7a7a7a;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    color: black;
    opacity: 0.8;
}

#status{
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    margin-left: 20px;
    margin-right: 20px;
}

#status.success{
    background-color: rgb(211, 250, 153);
    color: green;
    animation: status 6s ease  forwards;
}

#status.error{
    background-color: rgb(250, 129, 92);
    color: rgb(252, 252, 252);
    animation: status 6s ease  forwards;
}
  
  @keyframes status{
    0%{
      opacity: 1;
      pointer-events: all;
    }
    90%{
      opacity: 1;
      pointer-events: all;
    }
    100%{
      opacity: 0;
      pointer-events: none;
    }
  }


/* Footer */
footer {
    background: #ffc13b;
    padding: 30px;
    text-align: center;
}

footer span a {
    color: #7a7a7a;
    text-decoration: none;
}

footer span a:hover {
    color: black;
    text-decoration: underline;
}

.icons-wrapper {
    padding-bottom: 10px;
}

.icons-wrapper a {
    text-decoration: none;
    padding-left: 35px;
}

.logo-linkedin {
    display: inline-block; 
    color: #0a66c2;
    height: 34px;
    width: 34px;
}

.logo-strava,
.logo-github {
    height: 34px;
    width: 34px;
}


.strava-badge- { 
    display: inline-block; 
    height: 32px; 
}

.strava-badge- img { 
    visibility: hidden; 
    height: 32px; 
}
                        
.strava-badge-:hover { 
    background-position: 0 -47px; 
}
                        
.strava-badge-follow { 
    height: 32px; 
    width: 32px; 
    background: url(//badges.strava.com/echelon-sprite-32.png) no-repeat 0 0; 
}


/* responsive media query start */
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
    /* Personal preferences */
    .portfolio-items-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    /* contact */
    .two-fields-next-to-each,
    .email-field,
    .message-field {
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 2px;
    }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    /* Title */
    section .title {
        font-size: 60px;
    }
    section .title::before{
        width: 450px;
        height: 4.5px;
    }
    /* Loading Page */
    .loader{
        height: 80px;
        width: 80px;
    }
    /* Navigation */
    .nav-wrapper {
        padding: 60px;
        font-size: 2.5em;
    }
    .nav-link-wrapper {
        height: 50px;
    }
    .nav-link-wrapper:hover {
        border-bottom: 3px solid black;
    }
    .active-nav-link {
        border-bottom: 3px solid black;
    }

     /* Home section */
    .home .home-content .text-1{
        font-size: 60px;
    }
    .home .home-content .text-2{
        font-size: 78px;
    }
    .home .home-content .text-3{
        font-size: 60px;
    }
    button[type="home"] {
        width: 400px;
        height: 80px;
        font-size: 40px;
    }

    /* About */
    .profile-content-wrapper {
        font-size: 1.8em;
    }
    .two-column-wrapper {
        display: contents;
    }

    /* Skills */
    .skills {
        height: 50vh;
    }
    .skills-wrapper .bar {
        margin: 30px 0;
    }
    .skills-wrapper .bar .info {
        font-size: 1.8em;
    }
    .skills-wrapper .bar .progress-line {
        border-radius: 1.8em;
        height: 1.8em;
        
    }
    .bar .progress-line span {
        border-radius: 1.8em;
    }
    .skills-wrapper .bar:first-child {
        margin-top: 5px;
    }
    .bar .progress-line span::after {
        top: -50px;
        font-size: 1.6em;
        border-radius: 6px;
    }
    
    /* Personal Preferences */
    .portfolio-items-wrapper {
        grid-template-columns: 1fr;
    }
    .img-text-wrapper {
        height: 130%;
        font-size: 2.2em;
    }

    /* Contact */
    .contact input, 
    .contact textarea {
        font-size: 2.2em;
        margin-bottom: 25px;
    }
    button[type="submit"] {
        width: 450px;
        height: 110px;
        font-size: 2.7em;
    }

    /* Footer */
    footer {
        padding: 1.5em;
        font-size: 1.8em;
    }
    
    .logo-github,
    .logo-strava,
    .logo-linkedin {
        height: 60px;
        width: 60px;
    }

    
}


